/* General Styles */
body {
    font-family: Helvetica, Apple SD Gothic Neo, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333; /* Default text color */
}

#app {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.519);
}

#app_search {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff00;
}

/* TODO LIST Header */
#header {
    text-align: left;
    font-size: 24px;
    margin-left: 300px;
    margin-bottom: 0;
    color: #333;
}

/* Add TODO Section */
.add-todo-container h3 {
    text-align: center;
    font-size: 20px;
    color: #333;
}

.add-todo-section {
    margin-bottom: 20px;
    text-align: center;
}

.add-todo-section input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #6C63FF;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
}

.input-container .error {
    color: #e74c3c;
    display: none;
    margin-top: 5px;
    font-size: 14px;
}

.add-todo-section button {
    padding: 12px 25px;
    background-color: #6C63FF;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.add-todo-section button:hover {
    background-color: #4741ae;
}

/* Search & Filter Section */
.search-filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-input-wrapper {
    position: relative;
    width: 800px;
}

#search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #6C63FF;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-btn img {
    width: 100%;
    height: auto;
}

#category-filter {
    width: 80px;
    margin-left: 10px;
    padding: 10px;
    background-color: #6C63FF;
    color: #ffffff;
    border-radius: 4px;
}

#category-filter option {
    background-color: #ffffff;
    color: #1a1a1a;
}

.change-btn {
    margin-top: 3px;
    margin-left: 10px;
    padding: 0%;
    cursor: pointer;
    border: none;
}

.change-btn img {
    width: 38px;
    height: 38px;
}

/* TODO List Section */
.todo-list-section {
    margin-top: 20px;
}

.todo-list-section h2 {
    margin-top: 0;
    color: #333;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #C3C1E5;
    background-color: #ffffff00;
    margin-bottom: 8px;
    position: relative;
    cursor: move;
}

.todo-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todo-item.dragging {
    opacity: 0.6;
}

.todo-item .drag-handle {
    width: 24px;
    height: 24px;
    background-color: #dddddd00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    margin-right: 15px;
    border-radius: 4px;
}

.todo-item .todo-checkbox {
    margin-right: 15px;
}

.todo-item .todo-text,
.todo-item .todo-category {
    flex: 1;
    margin-right: 15px;
    font-size: 16px;
}

.todo-item .todo-text.completed,
.todo-item .todo-category.completed {
    text-decoration: line-through;
    color: #aaa;
}

.todo-item .edit-btn,
.todo-item .delete-btn {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 8px;
}

.input-container .error-message {
    display: none;
    color: red;
    font-size: 12px;
}
/* edit-btn style */
.todo-item .edit-btn {
    background-color: #ffffff00;
    color: #ffffff;
}

.todo-item .edit-btn:hover {
    background-color: #0000000c;
}

/* delete-btn style */
.todo-item .delete-btn {
    background-color: #ffffff00;
    color: #ffffff;
}

.todo-item .delete-btn:hover {
    background-color: #0000000c;
}

/* Empty State */
#empty-state {
    text-align: center;
    color: #aaa;
    display: none;
    font-size: 18px;
}

/* Popup Styles */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

.popup-content .details-h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid #6C63FF;
}

.popup-content p{
    margin-left: 10px;
    margin-right: 10px;
}

.popup-content .edit-h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.popup-content input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #6C63FF;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.popup-content button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
}

/* cancel-btn, close-btn style */
.popup-content .close-btn {
    display: block;
    margin: 20px auto;
}

.popup-content .close-btn, 
.popup-content .cancel-btn {
    background-color: #ffffff;
    color: #6C63FF;
    border: 1px solid #6C63FF;
}

.popup-content .close-btn:hover,
.popup-content .cancel-btn:hover {
    background-color: #d1d1d194;
}

/* save-btn style */
.popup-content .save-btn {
    background-color: #6C63FF;
    color: #ffffff;
    margin-left: 267px;
}

.popup-content .save-btn:hover {
    background-color: #4741ae;
}

/* 세부 사항 팝업 스타일 */
#details-popup-title,
#details-popup-date,
#details-popup-category,
#details-popup-content {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word; 
    overflow: hidden;
    max-width: 100%; 
}

/* Night Mode Styles */
body.night-mode {
    background-color: #0d0d0d;
    color: #e0e0e0;
}

body.night-mode #app {
    background-color: #0d0d0d;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.8);
}

body.night-mode #header {
    color: #f5f5f5;
}

body.night-mode .add-todo-container h3 {
    color: #f5f5f5;
}

body.night-mode .add-todo-section input,
body.night-mode #search-input{
    border: 1px solid #f5f5f5;
    background-color: #1a1a1a;
    color: #f5f5f5;
}

body.night-mode #category-filter option {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

body.night-mode .todo-item {
    background-color: #0d0d0d;
}

body.night-mode .popup-content {
    background: #0d0d0d;
    color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.8);
}

body.night-mode .popup-content h2 {
    color: #f5f5f5;
}

body.night-mode .popup-content input {
    background: #1a1a1a;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
}

body.night-mode .popup-content .close-btn, 
body.night-mode .popup-content .cancel-btn {
    background: #1a1a1a;
    color: #f5f5f5;
} 

body.night-mode #empty-state {
    filter: invert(1);
}

body.night-mode .change-btn {
    background-color: #0d0d0d;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #header {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
    }

    .add-todo-container h3 {
        font-size: 18px;
    }

    .search-input-wrapper {
        width: 100%;
    }

    #search-input {
        padding: 10px;
    }

    #search-btn {
        right: 5px;
        height: 18px;
        width: 18px;
    }

    #category-filter {
        width: 100%;
        max-width: none;
        margin-left: 0;
    }

    .todo-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .todo-item .drag-handle {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .todo-item .todo-checkbox {
        margin-right: 20px;
        margin-top: 5px;
    }

    .todo-item .todo-text {
        margin-top: 2px;
    }

    .popup-content {
        margin: 0 10px;
    }

    .popup-content .save-btn {
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    #app,
    #app_search {
        padding: 10px;
    }

    .add-todo-section input {
        font-size: 14px;
    }

    .todo-item {
        padding: 8px;
    }

    .todo-item .todo-text,
    .todo-item .todo-category {
        font-size: 14px;
    }

    .popup-content {
        padding: 15px;
    }

    .popup-content h2 {
        font-size: 18px;
    }

    .popup-content input {
        font-size: 14px;
    }

    .popup-content .save-btn {
        margin-left: 0;
    }
}
